body{
    margin: 0 auto;
    width: 1020px;
}

#header{
    background-color: #2d303a;
    height: 100px;
}

#lineUnderHeader{
    background-color: #323746;
    height: 100px;
}

#slider{
    background-color: #f06c64;
    height: 100px;
}

#lineUnderSlider{
    background-color: #ea676b;
    height: 100px;
}

#ourServices{
    background-color: #f2f2f2;
    height: 100px;
}

#lineUnderourServices{
    background-color: #ffffff;
    height: 100px;
}