body{
    margin: 0 auto;
    width: 1020px;
    font-family: 'Lato';
}

#header{
    background-color: #2d303a;
    height: 90px;
    color: white;
}

#h1{
    position:absolute;
    top: 0px;
    left: 0px;
}

#home{
    position:absolute;
    top: 62px;
    left: 608px;
    font-size:11.8px;
}

#hDot{
    position:absolute;
    top: 70px;
    left: 659px;
    width: 2px;
    height: 2px;
    background-color: #414657;
}

#services{
    position:absolute;
    top: 62px;
    left: 675px;
    font-size:11.8px;
}

#sDot{
    position:absolute;
    top: 70px;
    left: 743px;
    width: 2px;
    height: 2px;
    background-color: #414657;
}

#portfolio{
    position:absolute;
    top: 62px;
    left: 758px;
    font-size:11.8px;
}

#pDot{
    position:absolute;
    top: 70px;
    left: 838px;
    width: 2px;
    height: 2px;
    background-color: #414657;
}

#about{
    position:absolute;
    top: 62px;
    left: 854px;
    font-size:11.8px;
}

#aDot{
    position:absolute;
    top: 70px;
    left: 909px;
    width: 2px;
    height: 2px;
    background-color: #414657;
}

#contact{
    position:absolute;
    top: 62px;
    left: 925px;
    font-size:11.8px;
}

#lineUnderHeader{
    background-color: #323746;
    height: 5px;
}

#slider{
    background-color: #f06c64;
    height: 595px;
}

#leftArrow{
    width: 17px;
    height: 28px;
    position: absolute;
    top: 396px;
    left: 41px;
}

#rightArrow {
    width: 17px;
    height: 28px;
    position: absolute;
    top: 396px;
    left: 963px;
    transform: rotate(180deg);
}

#vertPhone{
    background-image: url(../singolo/assets/img/Base.png);
    position: absolute;
    top: 291px;
    left: -9px;
    z-index: 100;
    transform: rotate(270deg);
}

#vertShadow{
    background-image: url(../singolo/assets/img/Shadow.png);
    position: absolute;
    top: 396px;
    left: 41px;
    z-index: 10;
    transform: rotate(270deg);
}

#vertPic{
    background-image: url(../singolo/assets/img/Layer\ 5.png);
    position: absolute;
    top: 0px;
    left: 41px;
    z-index: 0;
    transform: rotate(270deg);
}

#horizPhone{
    background-image: url(../singolo/assets/img/Base.png);
}

#horizShadow{
    background-image: url(../singolo/assets/img/Shadow.png);
}

#horizPic{
    background-image: url(../singolo/assets/img/Layer\ 6.png);
}

#lineUnderSlider{
    background-color: #ea676b;
    height: 5px;
}

#ourServices{
    background-color: #f2f2f2;
    height: 494px;
}

#ourServicesTitle{

}

#ourServicesText{

}

#customDesignIco{
    
}

#customDesignTitle{
    
}

#customDesignText{
    
}

#responsiveLayoutIco{
    
}

#responsiveLayoutTitle{
    
}

#responsiveLayoutText{
    
}

#inovativeIdeasIco{
    
}

#inovativeIdeasTitle{
    
}

#inovativeIdeasText{
    
}

#supportIco{
    
}

#supportTitle{
    
}

#supportText{
    
}

#loveIsTheAnswerIco{
    
}

#loveIsTheAnswerTitle{
    
}

#loveIsTheAnswerText{
    
}

#feelLikeAStarIco{
    
}

#feelLikeAStarTitle{
    
}

#feelLikeAStarText{
    
}

#lineUnderourServices{
    background-color: #ffffff;
    height: 5px;
}